* {
  font-family: 'Lato', sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
  background-image: url(images/mobile\ background.png);
  background-repeat: no-repeat;
  background-size: cover;
}

nav {
  padding: 12px 24px;
}

.hamburger_menu {
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.socials_container {
  display: none;
}

.nav_link {
  top: 0;
  left: -100%;
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  position: absolute;
  list-style: none;
  background-color: rgb(242, 101, 85);
  padding-left: 28px;
  padding-right: 28px;
  backdrop-filter: blur(5px);
}

.nav_link a {
  display: flex;
  padding-top: 50px;
  text-decoration: none;
  color: white;
  font-size: 32px;
  line-height: 44px;
  font-weight: 600;
}

.bar {
  width: 36px;
  height: 7px;
  background-color: #272a31;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.hamburger_menu.active .bar:nth-child(1) {
  transform: translateY(11px) rotate(45deg);
  background-color: white;
  z-index: 100;
}

.hamburger_menu.active .bar:nth-child(2) {
  opacity: 0;
}

.hamburger_menu.active .bar:nth-child(3) {
  transform: translateY(-11px) rotate(-45deg);
  z-index: 100;
  background-color: white;
}

.active {
  left: 0;
}

.homepage {
  background-image: url(images/mobile\ background.png);
  background-repeat: no-repeat;
  background-size: cover;
  height: 70vh;
  width: 100%;
  overflow: hidden;
}

.homepage_content {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  padding: 70px 20px;
  gap: 30px;
}

.mobile_menu {
  display: none;
}

.header_content {
  width: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.header_content h3 {
  font-size: 26px;
  color: #ec5242;
  font-weight: 300;
}

.header_content h1 {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 45px;
  color: #ec5242;
  font-weight: 900;
}

h1.h1_image {
  background: url(images/fire_image.jpg) 0 0 / cover no-repeat;
  -webkit-background-clip: text;
  -webkit-text-fill-color: rgba(236, 82, 66, 0.6);
}

.paragraph {
  width: 100%;
}

.paragraph p {
  color: rgb(96, 92, 92);
  padding: 8px;
  font-size: 18px;
  line-height: 24px;
  border: 5px solid white;
  font-weight: 400;
  background-color: rgba(248, 247, 247, 0.995);
}

.paragraph_two {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.paragraph_two h2 {
  font-size: 29px;
  color: #272a31;
}

.work_section {
  width: 100%;
  height: 80vh;
  background-color: #272a31;
  background-image: url(images/crossed_lines.svg);
  padding-left: 15px;
  padding-right: 15px;
  overflow: hidden;
}

.main_program {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 18px;
}

.main_program h2 {
  margin-top: 10%;
  color: white;
  font-size: 28px;
}

.line_program {
  width: 50px;
  height: 1px;
  background-color: #ec5242;
  margin-bottom: 10%;
}

.program_details_wrapper {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.program_details {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  gap: 8px;
  background-color: rgba(247, 243, 243, 0.132);
}

.program_details h3 {
  font-size: 24px;
  color: #ec5242;
}

.program_details p {
  padding: 8px;
  color: white;
}

.ticket_button {
  width: 75%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #ec5242;
  font-size: 26px;
  color: white;
  border: none;
  padding: 18px;
  margin: 20px 50px;
}

.features {
  width: 100%;
  height: 90vh;
  padding-left: 12px;
  padding-right: 12px;
  overflow: hidden;
}

.features_container {
  display: flex;
  flex-direction: column;
  gap: 50px;
}

.featured_artists {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.featured_artists h2 {
  margin-top: 10%;
  margin-bottom: 4%;
  color: black;
  font-size: 28px;
}

.box_image {
  width: 80px;
  height: 80px;
}

.normal_image_desk {
  width: 120px;
  height: 120px;
  left: 8%;
  margin-top: 21px;
  position: absolute;
}

.more {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border: 1px solid rgba(159, 158, 158, 0.821);
  padding: 12px;
}

button .more {
  font-weight: 400;
}

.see_program {
  display: none;
}

.music_logo {
  display: none;
}

.hidden_artists_wrapper {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  gap: 1.5rem;
}

.hidden_artists {
  width: 100%;
  display: flex;
  flex-direction: column;
  background-image: url(images/grey_square3.svg);
  background-size: 100px 100px;
  background-repeat: no-repeat;
}

.artist_details {
  width: 100%;
  display: flex;
  flex-direction: row;
  gap: 10%;
  padding-bottom: 20px;
}

.hidden_perfomer .hidden_artists:nth-child(n + 3) {
  display: none;
}

.band_image {
  width: 50%;
}

.artist_description {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.artist_description h4 {
  width: 100%;
  color: #ec5242;
  font-style: italic;
}

.artist_description p {
  width: 100%;
  font-size: 14px;
}

hr {
  width: 18px;
}

.footer {
  width: 100%;
  height: 30vh;
}

.footer_container {
  background-color: rgb(56, 58, 62);
}

.footer_header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 12px;
}

.footer_header h2 {
  color: white;
  padding-top: 10%;
}

.line_partner {
  width: 50px;
  height: 2px;
  background-color: rgb(236, 61, 42);
  margin-bottom: 10%;
}

.partner_image_logo1 {
  width: 90%;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 40px;
  padding-bottom: 2rem;
}

.partner_image_logo1 img {
  width: 70px;
  -webkit-filter: grayscale(100%);
}

.lower_footer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 10px;
  padding: 20px;
}

.lower_footer img {
  width: 50%;
}

.lower_footer p {
  color: rgb(96, 92, 92);
}

@media (min-width: 768px) {
  nav {
    padding: 2px 17%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }

  .homepage {
    height: 100vh;
    padding-left: 144px;
    padding-right: 144px;
  }

  header {
    background-image: none;
  }

  .socials_container {
    padding: 10px  17%;
    display: flex;
    background-color: rgb(56, 58, 62);
    align-items: center;
    justify-content: flex-end;
  }

  .socials_wrapper {
    display: flex;
    align-items: end;
    justify-content: center;
    gap: 18px;
  }

  .socials_wrapper ul {
    display: flex;
    flex-direction: row;
    align-items: center;
    list-style: none;
    justify-content: space-between;
    gap: 26px;
  }

  .socials_wrapper ul li {
    font-size: 12px;
    color: white;
    cursor: pointer;
  }

  .socials_wrapper i {
    color: white;
  }

  .hamburger_menu {
    display: none;
  }

  .mobile_menu {
    top: 0;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    list-style: none;
    gap: 35px;
  }

  .music_logo {
    display: block;
  }

  .music_logo img {
    width: 100px;
  }

  .mobile_menu a {
    display: flex;
    text-decoration: none;
    color: rgb(96, 92, 92);
    font-size: 14px;
    line-height: 44px;
    font-weight: 600;
  }

  a.nav_link_ticket {
    border: 5px solid #ec5242;
    padding: 0 24px;
    font-size: 18px;
    color: #ec5242;
  }

  .nav_link {
    display: none;
  }

  a.nav_link {
    height: auto;
    background-color: white;
    flex-direction: row;
    justify-content: flex-end;
    position: static;
    list-style: none;
    gap: 20px;
  }

  .header_content h3 {
    font-size: 46px;
    color: #ec5242;
    font-weight: 300;
  }

  .header_content h1 {
    font-size: 80px;
    line-height: 80px;
    font-weight: 800;
    width: 50%;
    gap: 40px;
  }

  .paragraph {
    display: flex;
    justify-content: flex-start;
    padding-top: 20px;
  }

  .paragraph p {
    padding: 16px;
    font-size: 18px;
    line-height: 28px;
  }

  .paragraph_two h2 {
    font-size: 38px;
  }

  .paragraph_two p {
    font-size: 26px;
    color: #272a31;
  }

  .work_section {
    width: 100%;
    height: 100vh;
  }

  .program_details_wrapper {
    display: flex;
    flex-direction: row;
    gap: 10px;
    padding: 38px 12px;
    margin-left: 140px;
    margin-right: 140px;
  }

  .ticket_button {
    display: none;
  }

  .program_details {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 8px;
    background-color: rgba(247, 243, 243, 0.132);
    padding: 24px 8px;
  }

  .program_details p {
    color: white;
  }

  .see_program {
    display: block;
  }

  .see_whole_program {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 80px;
  }

  a.see_program {
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 20px;
    font-weight: 400;
    text-decoration: none;
  }

  .line_program_two {
    width: 220px;
    height: 1px;
    background-color: rgb(220, 217, 217);
  }

  .more {
    display: none;
  }

  .features {
    width: 100%;
    height: 120vh;
    padding-left: 120px;
    padding-right: 120px;
  }

  .features_container {
    display: flex;
    flex-direction: column;
  }

  .featured_artists {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }

  .featured_artists h2 {
    margin-top: 5%;
    color: black;
    font-size: 28px;
    margin-bottom: 12px;
  }

  .line_program {
    margin: 0;
  }

  .artist {
    display: none;
  }

  .hidden_artists_wrapper {
    width: 100%;
    display: grid;
    grid-template-columns: 50% 50%;
    align-items: center;
    justify-content: space-between;
    gap: 1.5rem;
  }

  .hidden_artists {
    display: flex;
    flex-direction: column;
    background-image: url(images/grey_square3.svg);
    background-size: 100px 100px;
    background-repeat: no-repeat;
  }

  .hidden_perfomer .hidden_artists:nth-child(n + 3) {
    display: block;
  }

  .artist_details {
    width: 100%;
    display: flex;
    flex-direction: row;
    gap: 0;
    padding-bottom: 20px;
  }

  .band_image {
    width: 50%;
  }

  .box_image_desk {
    width: 80px;
    height: 80px;
  }

  .normal_image_desk {
    width: 140px;
    height: 140px;
    left: auto;
    padding-top: 20px;
    padding-left: 20px;
  }

  .artist_description {
    display: flex;
    flex-direction: column;
    gap: 12px;
  }

  .artist_description h4 {
    width: 50%;
    color: #ec5242;
    font-style: italic;
  }

  .artist_description p {
    width: 80%;
    font-size: 14px;
  }

  hr {
    width: 24px;
  }

  .hidden_artists_second .normal_image_desk {
    width: 120px;
    height: 140px;
    position: absolute;
    left: 53%;
    padding-top: 20px;
  }

  .footer_header h2 {
    padding-top: 40px;
  }

  .line_partner {
    margin-bottom: 20px;
  }

  .lower_footer img {
    width: 16%;
  }

  .lower_footer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 60px;
    padding: 20px;
  }
}
